{% extends 'base.html' %}
{% block header_text %}Your Expenses{% endblock %}
{% block header2_text %}Enter expense{% endblock %}
{% block content %}
        <form method="POST" action="/balance/{{ balance.id }}/add_expense/"
            class="form-inline text-center">
            <input name="expense_category" 
                   id="id_new_expense_category" 
                   class="form-control input-lg"
                   placeholder="Enter a expense category"/>
            <input name="expense_amount" 
                   id="id_new_expense_amount" 
                   class="form-control input-lg"
                   type=number
                   placeholder="amount" />
            <input id="id_new_expense_button" 
                   class="btn btn-success"
                   type="submit">
            {% csrf_token %}
        </form>
        <table id="id_expense_table" class="table text-center">
            {% for expense in balance.expense_set.all %}
            <tr><td>{{ expense.category }}: {{ expense.amount }}</td></tr>
            {% endfor %}
        </table>
        <h1 class="text-center">Total expenses: <span id="id_total_expenses">{{ balance.total_expense }} </span></h1>
{% endblock %}
