<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Personal Finance</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/base.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col-xs-12">
            <nav class="nav">
                <ul class="list list-horizontal">
                    <li class="list-item">
                        <a href="/">Home</a>
                    </li>

                    <li class="list-item">
                        <a href="/balance/" id="btn-nav-balance">Balance</a>
                    </li>
                    <li class="list-item" >
                        <a href="/balance/income/" id="id_incomes">Income</a>
                    </li>
                    <li class="list-item">
                        <a href="/balance/expenses/">Expenses</a>
                    </li>
                    <li class="list-item has-dropdown">
                        {% if user.username %}

                            <a id="btn-nav-users-toggle" class="dropdown-toggle" href="#">{{ user.username }}</a>
                            <ul class="list list-dropdown hidden">
                                <li class="list-item">
                                    <a id="btn-nav-signout" href="/accounts/signout">Sign out</a>
                                </li>
                            </ul>

                        {% else %}

                            <a id="btn-nav-users-toggle" class="dropdown-toggle" href="#">User</a>
                            <ul class="list list-dropdown hidden">
                                <li class="list-item">
                                    <a href="/accounts/signup" id="btn-nav-sign-up">Sign up</a>
                                </li>
                                <li class="list-item">
                                    <a href="/accounts/signin" id="btn-nav-sign-in">Sign in</a>
                                </li>
                            </ul>

                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="jumbotron">
        <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>


            <h2>{% block header2_text %}{% endblock %}</h2>
        </div>
        <div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/js/nav.js"></script>
</body>

</html>
