{% extends 'base.html' %}
{% block header_text %}Your Expenses{% endblock %}
{% block header2_text %}Enter expense{% endblock %}
{% block content %}
<a href="/balance/{{ balance.id }}/expenses/{{ days.today }}/"
   id="id_daily_expenses" class="btn btn-success">Daily expenses</a>
<a href="/balance/{{ balance.id }}/expenses/{{ days.start_week }}/{{ days.end_week}}/"
   id="id_weekly_expenses" class="btn btn-success">Weekly expenses</a>
<a href="/balance/{{ balance.id }}/expenses/m/{{ days.start_month }}/{{ days.end_month }}/"
   id="id_montly_expenses" class="btn btn-success">Montly expenses</a>
<a href="/balance/{{ balance.id }}/expenses/y/{{ days.start_year }}/{{ days.end_year }}/"
   id="id_yearly_expenses" class="btn btn-success">Yearly expenses</a>
<a href="/balance/{{ balance.id }}/" id="id_total_balance_button" class="btn btn-success">Go to Total Balance</a>
        <form method="POST" action="/balance/{{ balance.id }}/expenses/"
            class="form-inline text-center">
            <input name="expense_category" 
                   id="id_new_expense_category" 
                   class="form-control input-lg"
                   placeholder="Enter a expense category"/>
            <input name="expense_amount" 
                   id="id_new_expense_amount" 
                   class="form-control input-lg"
                   type=number
                   placeholder="amount" />
            <input name="expense_date"
                   id="id_new_expense_date"
                   class="form-control input-lg"
                   type=text
                   placeholder="mm/dd/yyyy"/>
            <input id="id_new_expense_button" 
                   class="btn btn-success"
                   type="submit">
            {% csrf_token %}
        </form>
        <ul id="id_expenses_list" class="list list-balances">
            {% for expense in balance.expenses.all %}
            <li class="list-item"> {{ expense.date|date:"d M Y" }} || {{ expense.category.name }}: {{ expense.amount }}</li>
            {% endfor %}
        </ul>
        <h1 class="text-center">Total expenses: <span id="id_total_expenses">{{ balance.total_expense }} </span></h1>
{% endblock %}
