{% extends 'base.html' %}
{% block header_text %}Your Expenses{% endblock %}
{% block header2_text %}Enter expense{% endblock %}
{% block content %}
<a href="/balance/{{ balance.id }}/expenses/y/{{ days.prev_year_start }}/{{days.prev_year_end }}/"
   id="id_prev_year" class="btn btn-success">Previous year</a>
<a href="/balance/{{ balance.id }}/expenses/y/{{ days.next_year_start }}/{{ days.next_year_end }}/"
   id="id_next_year" class="btn btn-success">Next year</a>
<a href="/balance/{{ balance.id }}/expenses/"
   id="id_add_new_expense" class="btn btn-success">Add Exoense</a>
<a href="/balance/{{ balance.id }}/" id="id_total_balance_button" class="btn btn-success">Go to Total Balance</a>
<h1>Year: <span id="id_year">{{ days.current_year_start }} - {{days.current_year_end }}</span></h1>
        <ul id="id_expenses_list" class="list list-balances">
            {% for expense in expenses %}
            <li class="list-item"> {{ expense.date|date:"d M Y" }} || {{ expense.category }}: {{ expense.amount }}</li>
            {% endfor %}
        </ul>
        <h1 class="text-center">Total expenses: <span id="id_total_expenses">
                {{ total_expenses.total_expenses }} </span></h1>
{% endblock %}
