{% extends 'base.html' %}
{% block header_text %}Your Expenses{% endblock %}
{% block header2_text %}Enter expense{% endblock %}
{% block content %}
<a href="/balance/{{ balance.id }}/" id="id_total_balance_button" class="btn btn-success">Go to Total Balance</a>
        <form method="POST" action="/balance/{{ balance.id }}/expenses/"
            class="form-inline text-center">
            <input name="expense_category" 
                   id="id_new_expense_category" 
                   class="form-control input-lg"
                   placeholder="Enter a expense category"/>
            <input name="expense_amount" 
                   id="id_new_expense_amount" 
                   class="form-control input-lg"
                   type=number
                   placeholder="amount" />
            <input id="id_new_expense_button" 
                   class="btn btn-success"
                   type="submit">
            {% csrf_token %}
        </form>
        <ul id="id_expenses_list" class="list list-balances">
            {% for expense in balance.expense_set.all %}
            <li class="list-item">{{ expense.category }}: {{ expense.amount }}</li>
            {% endfor %}
        </ul>
        <h1 class="text-center">Total expenses: <span id="id_total_expenses">{{ balance.total_expense }} </span></h1>
{% endblock %}
