<html>
    <head>
        <title>Personal Finance</title>
    </head>
    <body>
        <h1>Start Your Personal Finance Balance</h1>
        <h2>First Enter your current income</h2>
        <form method="POST" action="/balance/new">
            <input name="income_category" id="id_new_income_category" placeholder="Enter income category" />
            <input name="income_amount" id="id_new_income_amount" type=number
            step=0.01 placeholder="amount" />
            <input id="id_new_income_button" type="submit">
            {% csrf_token %}
        </form>
    </body>
</html>
