<html>
    <head>
        <title>Personal Finance</title>
    </head>
    <body>
        <h1> Your Personal Finance List</h1>
        <input id="id_new_income_category" placeholder="Enter income category" />
        <input id="id_new_income_amount" type=number value=0 />
        <input id="id_new_income_button" type="submit">
        <table id="id_income_table">
        </table>
        <h1>Total income: <span id="id_total_income"></span></h1>
        <input id="id_new_expense_category" placeholder="Enter a expense category"/>
        <input id="id_new_expense_amount" type=number value=0 />
        <input id="id_new_expense_button" type="submit">
        <table id="id_expense_table">
        </table>
        <h1>Total expenses: <span id="id_total_expenses"></span></h1>
        <h1>Account balance: <span id="id_account_balance"></span></h1>
    </body>
</html>
