{% extends 'base.html' %}       
{% block header_text %}Your Incomes{% endblock %}
{% block header2_text %}Enter income{% endblock %}
{% block content %}
<a href="/balance/{{ balance.id }}/income/{{ days.today }}/"
   id="id_daily_income" class="btn btn-success">Daily income</a>
<a href="/balance/{{ balance.id }}/income/{{ days.start_week }}/{{ days.end_week}}/"
   id="id_weekly_income" class="btn btn-success">Weekly income</a>
<a href="/balance/{{ balance.id }}/income/m/{{ days.start_month }}/{{ days.end_month }}/"
   id="id_montly_income" class="btn btn-success">Montly income</a>
<a href="/balance/{{ balance.id }}/income/y/{{ days.start_year }}/{{ days.end_year }}/"
   id="id_yearly_income" class="btn btn-success">Yearly income</a>
<a href="/balance/{{ balance.id }}/" id="id_total_balance_button" class="btn btn-success">Go to Total Balance</a>
<form method="POST" action="/balance/{{ balance.id }}/income/" 
            class="form-inline text-center">
            <input name="income_category" 
                   id="id_new_income_category" 
                   class="form-control input-lg"
                   placeholder="Enter income category" />
            <input name="income_amount" 
                   id="id_new_income_amount" 
                   class="form-control input-lg"
                   type=number
                   step=0.01 
                   placeholder="amount" />
            <input name="income_date"
                   id="id_new_income_date"
                   class="form-control input-lg"
                   type=text
                   placeholder="mm/dd/yyyy"/>
            <input id="id_new_income_button" 
                   class="btn btn-success"
                   type="submit">
            {% csrf_token %}
        </form>
        <ul id="id_income_list" class="list list-balances">
            {% for income in balance.income_set.all %}
            <li class="list-item">
                {{ income.date|date:"d M Y" }} || {{ income.category.name }}: {{ income.amount }}
            </li>
            {% endfor %}
        </ul>
        <h1 class="text-center">Total income: <span id="id_total_income">{{ balance.total_income }}</span></h1>
{% endblock %}
