{% extends 'base.html' %}
{% block header_text %}Sign in{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12">
                        <input id="tb-username2" type="text" class="form-control" name="username" maxlength="150" autofocus="" required placeholder="Enter Username" >
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input id="tb-password" type="password" class="form-control" name="password" required placeholder="Enter Password">
                    </div>
                </div>

                <button class="btn btn-success" id="btn-sign-in">Sign In</button>
                <input type="reset" class="btn btn-warning" value="Clear" />
            </form>
        </div>
    </div>

{% endblock %}
