[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/SITENAME/souce
ExecStart=/home/ubuntu/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    personal_account.wsgi:application

[Install]
WantedBy=multi-user.target
